<h1 class="card-title">Welcome!</h1>

<p><%= link_to "Get a tarot reading", cards_reading_path %></p>

<p><%= link_to "View all tarot cards", cards_path %></p>

<p><%= link_to "See your card of the day.", cards_random_path%> </p>