<h1 class="card-title">Welcome!</h1>

<p class="nav"><%= link_to "Get a three card tarot reading", cards_three_path %></p>

<p class="nav"><%= link_to "Get a ten card tarot reading", cards_ten_path %></p>

<p class="nav"><%= link_to "View all tarot cards", cards_path %></p>

<p class="nav"><%= link_to "See your card of the day.", cards_random_path%> </p>