<h1 class="card-title">Tarot Deck</h1>
  <% if @cards.any? %>
    <ul class="tarot-ul">
      <% @cards.each do |card| %>
        <li class="tarot-list"><%= link_to card.name, card_path(card) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no cards yet.</p>
  <% end %>

<p class="nav"><%= link_to "Back to home", root_path %></p>