<h1>Tarot Deck</h1>
<div class="scroller"
  <% if @cards.any? %>
    <ul class="tarot-list">
      <% @cards.each do |card| %>
        <li><%= link_to card.name, card_path(card) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no cards yet.</p>
  <% end %>
</div>  

<p><%= link_to "Back to home", root_path %></p>