<div class="show-holder">
  <div class="row">
  <div class="col-sm-4">
  <h1 class="show-description-title"><strong>Name: </strong><%= @card.name %></h1>
  <%= image_tag @card.attached_image, :class => "show-image" %>
  </div>
  <div class="col-sm-4">
  <p class="show-description"><strong>Description:</strong> <%= @card.description%></p>
  </div>
  <div class="col-sm-4">
  <p class="show-reverse-description"><strong>Reverse Description:</strong> <%= @card.reverse_description %></p>
  </div>
</div>

