reading

<div>
<form>
  <label>Select your spread:</label>
    <select>
      <option value="single-spread">Single-Card-Spread</option>
      <option value="three-card-spread">Three-Card-Spread (Past, Present, Future)</option>
    </select>
    <button type="submit">Get Reading</button>
</form>
</div>
<div id="results">

</div>