<div class="show-holder">
  <div class="row">
  
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
 
        <%= image_tag @card.attached_image, :class => "show-image", style:"margin-bottom:4rem;" %>
      </div>
    <div class="col-sm-8">
      <h1 class="show-description-title"><strong>Card Name: </strong><%= @card.name %></h1>
      <p class="show-description"><strong>Description:</strong> <%= @card.description%></p>
      <p class="show-reverse-description"><strong>Reverse Description:</strong> <%= @card.reverse_description %></p>
    </div>
  </div>
</div>

