/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("./tarotastronomy.jpeg");
  background-attachment: fixed;
  color: white;
  font-size: 1.2em;
}

.card-back {
  width: 100%;
  border-radius: 20px;
}

.ten-card-back {
  width: auto;
  height: 22vh;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#card-image-1, #card-image-2, #card-image-3 {
  display: none;
}

#ten-card-image-1, #ten-card-image-2, #ten-card-image-3 {
  display: none;
}

.description {
  width: 100%;
  text-align: justify;
  margin-top: 185%;
}

.card-title {
  font-family: cursive;
  text-align: center;
  background-image: linear-gradient(to bottom right, #00466e, #70a9ca);
  width: fit-content;
  padding: 7px 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.card-image {
  width: 100%;
  border-radius: 20px;
}

.ten-card-image {
  width: auto;
  height: 22vh;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.show-image {
  width: 50%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-holder {
  width: 90%;
  margin: 2vh auto;
}
.ten-card-holder {
  width: 90%;
  margin: 2vh auto;
}

.tarot-list {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: 900;
}

.tarot-ul {
  background-image: linear-gradient(to bottom right, #00466e, #70a9ca);
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;
}

a, a:hover, a:visited, a:active {
  color: white;
}

.container {
  margin-bottom: 5vh;
}

.nav {
  font-size: 1.5em;
  font-style: italic;
}

@media only screen and (max-width: 770px) {
    .card-holder {
    width: 300px;
  }
}

.show-description {
  background-image: linear-gradient(to bottom right, #00466e, #70a9ca);
  padding:2rem;
}

.description-title {
  font-family: cursive;
  text-align: center;
  font-size: 1.5em;
  margin-top: -5px;
  border-radius: 5px;
}

.description{
  background-image: linear-gradient(to bottom right, #00466e, #70a9ca);
  height: 300px;
  padding:20px;
  border-radius: 5px;
}

.inside-description{
  overflow: scroll;
  height:240px;
  text-indent: 10%;
}
// Card flip
//card 1 past
.flip-card {
  background-color: transparent; 
  perspective: 1000px;  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2)
}


.flip-card.flipped .flip-card-inner {   
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {

  transform: rotateY(180deg);
}

//card-2 present
.flip-card-1 {
  background-color: transparent; 
  perspective: 1000px;  
}

.flip-card-inner-1 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2)
}

.flip-card-1.flipped .flip-card-inner-1 {   
  transform: rotateY(180deg);
}

.flip-card-front-1, .flip-card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back-1 {

  transform: rotateY(180deg);
}
//card-3 future
.flip-card-2 {
  background-color: transparent; 
  perspective: 1000px;  
}

.flip-card-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2)
}


.flip-card-2.flipped .flip-card-inner-2 {   
  transform: rotateY(180deg);
}

.flip-card-front-2, .flip-card-back-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back-2 {

  transform: rotateY(180deg);
}

