/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@font-face {
  font-family: fancifulScript;
  src: url("/assets/RemachineScript.ttf") format("truetype");
}

@font-face {
  font-family: timeScript;
  src: url("/assets/GreatVibes-Regular.otf") format("opentype");
}

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("./tarotastronomy.jpeg");
  background-attachment: fixed;
  color: white;
  font-size: 1.3em;
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
}

.card-back {
  height: 50vh;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ten-card-back {
  width: auto;
  height: 22vh;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.ten-card-image {
  width: auto;
  height: 22vh;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.description {
  width: 22vw;
  font-size: 1.4rem;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-family: timeScript;
  text-shadow: #fff 0 0 10px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  // background-image: linear-gradient(to bottom right, #00466e, #70a9ca);
  width: fit-content;
  padding: 7px 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  margin-top: -15px;
}

.card-image {
  height: 50vh;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-holder {
  width: 90%;
  margin: 2vh auto;
  height: 110vh;
}

.ten-card-holder {
  width: 90%;
  margin: 2vh auto;
}

.printout {
  width: 88%;
  position: absolute;
  top: 15px;
  left: 6%;
  display: none;
}

.tarot-origins, .three-card-reading, .ten-card-reading, .single-card-reading, .tarot-history {
  overflow: auto;
  background: #e9e3e5;
  padding: 5rem;
  margin: 8vh;
  color: black;
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
}

.history, .origins, .three-reading, .ten-reading, .one-reading  {
  font-size: 1.75rem;
}

.tarot-list {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: 100;
  padding: 1px 8px;
}

#reversed {
  position: fixed;
  top: 80vh;
}

.card-image-reversed {
  transform: rotate(180deg);
}

#show-printout {
  position: fixed;
  top: 88vh;
}

#hide-printout {
  position: fixed;
  top: 88vh;
}

.p-subheading {
  list-style-type: upper-roman;
  font-family: fancifulScript;
  font-size: 4.3rem;
}

.p-name {
  list-style-type: none;
  font-size: 2.3rem;
}

.p-description {
  list-style-type: none;
  font-size: 1.5rem;
}

#printout-list {
  background-color: rgba(11, 11, 11, 0.761);
  margin: 15px auto 15px auto;
  width: 50vw;
  padding: 15px 15px 15px 20px;
}

.tarot-ul {
  background: rgba(87, 148, 228, 0.478);
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  padding: 4px 6px;
  font-weight: bolder;
}

ol.q {
  list-style-type: upper-roman;
}

.key-ten {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  background: #e9e3e5;
  color: black;
  padding: 1rem;
}

.key-ten li {
  padding-left: 1rem;
}

a, a:hover, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: #fff 0 0 10px;
}

.container-fluid {
  margin-bottom: 5vh;
}

.nav-font {
  font-size: 1.4em;
  text-align: center;
}

@media only screen and (max-width: 770px) {
    .card-holder {
    width: 300px;
  }
}

.show-image {
  width: 20vw;
  height: auto;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:4rem;
  margin-top:4rem;
}

.show-description {
  font-size: 1.75rem;
  background: #70a9ca;
  padding: 3rem;
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  margin-bottom: 5vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.show-reverse-description {
  font-size: 1.75rem;
  background: #70a9ca;
  padding: 3rem;
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  margin-right: 4vw;
  margin-left: 4vw;
}

.show-description-title {
  font-family: timeScript;
  text-shadow: rgb(1, 1, 1) 0 0 10px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right:auto;
  font-size: 5rem;
 
}

.description-title {
  font-family: fancifulScript;
  text-align: center;
  font-size: 2.9em;
  margin-top: -5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
}

.description {
  background: #70a9ca;
  height: 37vh;
  padding: 3vh;
}

.inside-description {
  overflow: scroll;
  overflow-x: hidden;
  height: 23vh;
  text-indent: 10%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.inside-description::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inside-description {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// Card flip
//card 1 past
.flip-card {
  background-color: transparent; 
  perspective: 1000px;  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2)
}


.flip-card.flipped .flip-card-inner {   
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {

  transform: rotateY(180deg);
}

//card-2 present
.flip-card-1 {
  background-color: transparent; 
  perspective: 1000px;  
}

.flip-card-inner-1 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2)
}

.flip-card-1.flipped .flip-card-inner-1 {   
  transform: rotateY(180deg);
}

.flip-card-front-1, .flip-card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back-1 {
  transform: rotateY(180deg);
}
//card-3 future
.flip-card-2 {
  background-color: transparent; 
  perspective: 1000px;  
}

.flip-card-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2)
}

.flip-card-2.flipped .flip-card-inner-2 {   
  transform: rotateY(180deg);
}

.flip-card-front-2, .flip-card-back-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back-2 {
  transform: rotateY(180deg);
}

.side-card {
  height: 100vh;
}

.push-down {
  position: relative;
  top: 33vh;
}

.three-height {
  height: 100vh;
}

.desc-push {
  margin: 52vh auto 0 auto;
}

.center-2 {
  position: relative;
  top: 29vh;
  left: 2vw;
}

.center-1 {
  position: relative;
  top: 40vh;
  right: 2vw;
}

.right-10 {
  position: relative;
  margin-top: -3vh;
}

.right-9 {
  position: relative;
  top: 23vh;
}

.right-8 {
  position: relative;
  top: 46vh;
}

.right-7 {
  position: relative;
  top: 69vh;
}

.right-6 {
  position: relative;
  top: 33vh;
}

.top-3 {
  position: relative;
  margin-top: -5vh;
}

.bottom-4 {
  position: relative;
  top: 69vh;
}

.origins {
  font-size: 1.75rem;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
    margin: 0 auto;
}

button {
	width: 160px;
	height: 50px;
	cursor: pointer;
	border: 0px solid #3c84ad;
	background: #3c84ad;
	transition: 200ms;
}

button span {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Berkshire Swash', cursive;
	font-size: 18px;
	color: white;
	transition: 500ms;
  width: 150px;
}

button::before, button::after {
	content: '';
	position: absolute;
	margin-left: -75px;
	margin-top: -25px;
	width: 150px;
	height: 40px;
	// z-index: -1;
}

.home-link {
  color: black !important;
  font-weight: bold;
}

#home-row {
  text-align: center;
}

button::before {
	border: 8px solid #3c84ad;
	transition: 200ms;
  // z-index: -3;
}

button::after {
	border: 8px solid #3c84ad;
	transition: 500ms;
  
}

.form-nav {
  float: right;
}

#welcome-welcome {
  margin-top: 4rem;
  font-size: 6rem;
}

.my-nav {
  width: 100%;
  display: table;
  white-space: nowrap;
  // font-family: 'Berkshire Swash', cursive;
  font-family: fancifulScript;
  color: white ;
  background-color: #0b0b0b9a;
  padding: 0 2rem 0 2rem;

  font-size: 4rem;
  text-transform: lowercase;
  // font-weight: bolder;
}

button:hover {
	border: 8px solid #3c84ad;
}

button:hover span {
	font-size: 18px;
}

button:hover::before {
	width: 160px;
	height: 50px;
	margin-left: -80px;
	margin-top: -30px;
}

button:hover::after {
	width: 160px;
	height: 60px;
	margin-left: -85px;
	margin-top: -35px;
}

button:focus {
	outline: none;
}

//card-1 ten spread

.card-1 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-1-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-1.flipped .card-1-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-1, .ten-back-card-1 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-1 {
  transform: rotateY(180deg);
}

//card-2 ten spread

.card-2 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-2.flipped .card-2-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-2, .ten-back-card-2 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-2 {
  transform: rotateY(180deg);
}

//card-3 ten spread

.card-3 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-3-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-3.flipped .card-3-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-3, .ten-back-card-3 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-3 {
  transform: rotateY(180deg);
}

//card-4 ten spread

.card-4 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-4-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-4.flipped .card-4-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-4, .ten-back-card-4 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-4 {
  transform: rotateY(180deg);
}

//card-5 ten spread

.card-5 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-5-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.card-5.flipped .card-5-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-5, .ten-back-card-5 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-5 {
  transform: rotateY(180deg);
}

//card-6 ten spread

.card-6 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-6-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.card-6.flipped .card-6-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-6, .ten-back-card-6 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-6 {
  transform: rotateY(180deg);
}

//card-7 ten spread

.card-7 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-7-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-7.flipped .card-7-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-7, .ten-back-card-7 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-7 {
  transform: rotateY(180deg);
}

//card-8 ten spread

.card-8 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-8-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-8.flipped .card-8-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-8, .ten-back-card-8 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-8 {
  transform: rotateY(180deg);
}

//card-9 ten spread

.card-9 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-9-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-9.flipped .card-9-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-9, .ten-back-card-9 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-9 {
  transform: rotateY(180deg);
}

//card-10 ten spread

.card-10 {
  background-color: transparent; 
  perspective: 1000px;  
}

.card-10-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-10.flipped .card-10-inner {   
  transform: rotateY(180deg);
}

.ten-card-image-10, .ten-back-card-10 {
  position: absolute;
  width: 100%;
  height: 22vh;
  backface-visibility: hidden;
}

.ten-back-card-10 {
  transform: rotateY(180deg);
}

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  padding: 3rem;
  font-size: 1.25rem;
  display: none;
  width: 25vw;
  position: absolute;
  top: 150%;
  right: 80%;
  color: black;
  background-color: #dad0d4;
  padding: .5em;
}

.tooltip-wrap .tooltip-content-righter {
  padding: 3rem;
  font-size: 1.25rem;
  display: none;
  width: 25vw;
  right: 100%;
  position: absolute;
  color: black;
  background-color: #dad0d4;
  padding: 0.5em;
}

.tooltip-wrap:hover .tooltip-content-righter {
  display: block;
}

.tooltip-wrap:hover .tooltip-content {
  display: block;
}

#celtic-img{
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 300px;
}

#card-3-img{
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 250px;
}