/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("./tarotastronomy.jpeg");
  background-attachment: fixed;
  color: white;
  font-size: 1.2em;
}

.card-back {
  // display: none;
  width: 100%;
  border-radius: 15px;
}

.description {
  width: 100%;
  text-align: justify;
  text-indent: 10%;
  margin-top: 15px;
}

.card-title {
  font-family: cursive;
  text-align: center;
}

.card-image {
  width: 100%;
  border-radius: 15px;
}

.card-holder {
  width: 90%;
  margin: 2vh auto;
}

.tarot-list {
  list-style-type: none;
}

.container {
  margin-bottom:5vh;
}

@media only screen and (max-width: 770px) {
    .card-holder {
    width: 300px;
  }
}

.description{
  padding: 2rem;
  background-image: linear-gradient(to bottom right, #00466e, #70a9ca);
  height:300px;
  overflow: hidden;
}
.inside-description{
  overflow: scroll;
}
